@import 'tailwindcss';
@theme {
    --color-brand-primary: #3b82f6;
    --font-family-sans: 'Inter', sans-serif;

    --spacing-8: 2rem;
    --spacing-16: 4rem;

    --radius-sm: 0.125rem;
    --radius-md: 0.375rem;
    --radius-lg: 0.5rem;
}
